# Package Files #
*.jar
*.war
*.ear

# Project Files #
.idea/libraries/
.idea/shelf/
.idea/dictionaries/
.idea/*.xml
!.idea/codeStyleSettings.xml
!.idea/encodings.xml
.idea/*.ids
*.ipr
*.iws

*.DS_Store

*.iml
target

dependency-reduced-pom.xml
dependency-reduced-pom.xml.bak

src/test/resources/adyen.properties
release.properties
